.wrap_boxm{width:1020px;margin:0px auto;overflow:hidden;}
.column-4{width:320px;float:left;margin-right:20px;margin-top:20px;}
.column-7.repost-column-no-advert{margin-top:20px;}
.column-5:hover,.column-6:hover{background:rgb(34,32,33);color:#fff}
.nodata{text-align:center;padding:30px;color:#999;font-size:12px;}
.stage:hover .card,.column-7:hover .card,.column-5:hover .card,.column-6:hover .card{background:rgb(34,32,33);}
.column-7:hover .card *,.column-5:hover .card *,.column-6:hover .card *{color:#fff}
.card.fixed-height{min-height:556px;}
.card.card-cloudcast{border-top-left-radius:5px;border-top-right-radius:5px;background-clip:padding-box;}
.card.card-cloudcast{text-align:center;}
.card{display:block;padding:9px;position:relative;background:#fff;border:1px solid #e9e9e9;background-clip:padding-box;}
.card-elements-container{-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;}
.card-cloudcast-image{display:block;overflow:hidden;margin:0px;position:relative;border-radius:4px 4px 0 0;background-clip:padding-box;}
.card-cloudcast .c_stop,.card-cloudcast .c_play{width:72px;height:72px;display:block;-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;top:50%;left:50%;background:#111;background:rgba(0,0,0,0.7);border-radius:50%;border:2px solid #fff;box-sizing:border-box;}
.card-cloudcast .c_stop i,.card-cloudcast .c_play i{font-size:32px;line-height:68px;text-align:center;color:#fff}
.card.fixed-height .card-cloudcast-title{margin:16px 10px 0;}
.card-cloudcast .card-cloudcast-title a{font-weight:505;position:relative;top:5px;}
.card-cloudcast .card-cloudcast-user{margin:5px 0 8px;font-size:0.925em;font-weight:600;color:#e5e5e5;}
.card-cloudcast .card-cloudcast-user{margin-bottom:10px;}
.card-cloudcast .card-cloudcast-user a{margin-left:5px;font-size:12px}
.card-cloudcast .card-chart-position{width:80px;height:80px;position:absolute;top:0;left:0;overflow:hidden;border-radius:3px 0 0;background-clip:padding-box;}
.card-cloudcast .card-cloudcast-image,.card-cloudcast .card-chart-position{border-radius:0;background-clip:padding-box;}
.z1{z-index:1;}
.card-chart-position .chart-bg{width:0;height:0;position:absolute;top:-80px;left:0;border-top:80px solid transparent;border-bottom:80px solid transparent;border-left:80px solid #fff;}
.card-chart-position .chart-value.char-1{top:1px;left:3px;font-size:2.4em;}
.card-chart-position .chart-value{width:45px;height:45px;position:absolute;top:0;left:0;text-align:center;line-height:45px;font-weight:800;background:-webkit-linear-gradient(#666,#333);background:gradient(#666,#333);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.card-chart-position .chart-value.char-1>sup{top:-18px;font-size:40%;}
.card-chart-position .chart-value>sup{background:-webkit-linear-gradient(#666,#333);background:gradient(#666,#333);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.card-footer{position:absolute;left:0px;right:0px;padding:0;border:0;bottom:0px;border-top:1px solid #ececec;}
.card-footer{display:inline-block;}
.card-footer .icon{float:left;font-size:21px;height:39px;padding:6px 10px 0 9px;color:#959595;border-right:1px solid #ececec}
.card-footer .icon:nth-of-type(3){border-right:none;}
.card-footer .icon label{font-size:12px;padding:0px 5px;display:inline-block;top:-3px;position:relative;}
.card-footer .fl{float:left}
.card-footer .fb{border-left:1px solid #ececec}
.card-footer .fr{float:right}
.tag{max-width:115px;display:inline-block;position:relative;border:1px solid #ececec;color:#7e7e7e;font-weight:500;font-size:.789em;text-align:left;text-transform:capitalize;line-height:18px;text-overflow:ellipsis;white-space:nowrap;border-radius:2px;background-clip:padding-box;}
.tag-small{height:19px;margin:5px 4px 0 8px;padding:0 10px;}
.tag-small:before{content:"";display:block;width:0;height:0;border-top:9px solid transparent;border-bottom:9px solid transparent;border-right:9px solid #ececec;position:absolute;top:0;left:-10px;}
.tag-wrap{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.tag-small:after{content:"";display:block;width:0;height:0;border-top:8px solid transparent;border-bottom:8px solid transparent;border-right:8px solid #fff;position:absolute;top:1px;left:-8px;}
.tag-small .tag-wrap:after{content:"";display:block;width:4px;height:4px;background:#fff;position:absolute;top:6px;left:0;border:1px solid #dfdfdf;border-radius:3px;background-clip:padding-box;}
.chart-number{width:30px;display:block;background:#f5f5f5;border:1px solid #ececec;text-align:center;position:absolute;top:-1px;right:-30px;border-radius:0 1px 1px 0;background-clip:padding-box;}
.chart-number:after{display:block;position:absolute;content:"";top:6px;left:-3px;width:0;height:0;border-top:3px solid transparent;border-bottom:3px solid transparent;border-right:3px solid #f5f5f5;}
.chart-number:before{display:block;position:absolute;content:"";top:5px;left:-4px;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid #ececec;}
.tag-small.in-chart{margin:5px 35px 0 8px;}
.card.card-cloudcast .card-stats{margin-bottom:15px;}
.card-stats{font-size:.8em;color:#7e7e7e;}
.card-date{padding:0 0 0 13px;}
/*头部*/
.header{background:#2f333b;height:56px;box-shadow:0 1px 1px rgba(0,0,0,.15),inset 0 1px 0 rgba(255,255,255,.08);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:fixed;top:0;left:0;z-index:101;width:100%}
.header .container{max-width:100%;margin:0 auto;}
.header .logo{float:left;display:block;padding:8px 12px;overflow:hidden;position:relative;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;}
.navigation{margin:0;padding:0;float:right;position:relative;list-style-type:none;font-weight:600;}
.navigation.navigation-left{float:left;margin-left:58px;}
.nav-list-item{position:relative;display:block;float:left;-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.04);box-shadow:-1px 0 0 rgba(255,255,255,.04);border-left:1px solid #191c1d;overflow:hidden;}
.nav-list-item:first-child{border-left:1px solid #191c1d;-webkit-box-shadow:inset -1px 0 0 rgba(255,255,255,.04),-1px 0 0 rgba(255,255,255,.04);box-shadow:inset -1px 0 0 rgba(255,255,255,.04),-1px 0 0 rgba(255,255,255,.04);}
.nav-link.upload{padding-left:45px;background-image:url(/media/images/www/sprite/sprite-53.png);background-size:530px 3100px;background-position:-429px -21px;background-repeat:no-repeat;}
.nav-link{padding:0 16px;display:block;line-height:56px;color:#b6b3ad;cursor:pointer;font-size:14px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:400}
.nav-link .fa{font-size:16px;padding-right:6px;}
.navigation-right li a{font-size:12px;}
.navigation a{position:relative;z-index:2}
.navigation .showpan{position:absolute;top:0;left:108px;width:100%;height:100%;background:#333;display:block;z-index:1}
.navigation-left .nav-list-item{float:none;-webkit-box-shadow:none;box-shadow:none;margin-top:8px;}
/*头部主要*/
.wrap-main{background:#202426;-webkit-box-shadow:0 1px 0 rgba(255,255,255,.08),inset 0 1px 1px rgba(0,0,0,.08),inset 0 -1px 1px rgba(0,0,0,.08);box-shadow:0 1px 0 rgba(255,255,255,.08),inset 0 1px 1px rgba(0,0,0,.08),inset 0 -1px 1px rgba(0,0,0,.08);margin-top:45px;text-shadow:-1px 0px #999,0px 1px #999,1px 0px #ccc,0 1px #ccc}
.wrap-main .container{width:1020px;margin:0 auto;position:relative;}
.wrap-main .container .register-bumper{padding:72px 0px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
/* .page-headings{padding-right:289px;}
*/
.bumper-h3{margin:0 0 16px;color:#fff;font-weight:600;font-size:2.000em;line-height:34px;}
.bumper-h4{margin:0 0 5px;color:#e2e2e2;font-weight:300;font-size:0.985em;}
.ccard-footer{margin-top:32px;}
.fenxiang_box{position:absolute;top:160px;left:60px;}
.fenxiang_cont{width:382px;padding:20px;background:#14171e;background:rgba(1,1,1,0.88);border-radius:5px;margin-top:-6px;}
.fenxiang_img{margin-top:20px;border-top:1px solid #40454d;}
.fenxiang_img ul li{float:left;padding:20px 5px;}
.sanjiao{position:absolute;top:-26px;right:30px;border-top:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #14171E;border-left:10px solid transparent;display:inline-block;}
.nav-list-item > a.user-card-item{display:block;height:55px;line-height:55px;width:60px;color:#787d82;text-align:center;-webkit-transition:background-color 0.2s;-moz-transition:background-color 0.2s;transition:background-color 0.2s;}
.nav-list-item img{width:32px;height:32px;border-radius:16px;border:2px solid #111;vertical-align:middle;display:inline-block;}
#headerli-box .nav-list-item{padding:0 2px;}
#headerli-box .nav-list-item .fa{font-size:16px;padding-right:10px;}
.bannerbox{box-shadow:0 0 20em rgb(50,55,60)}
.bannerbox .bannerimg{width:100%;padding:180px 0 0;position:relative;background-size:cover;background-position:center bottom;}
#box{margin:10px auto;text-align:center;font-size:36px;font-weight:700;color:#fff;width:960px;}
#box span{display:inline-block;padding:16px 0;}
.column-6{width:178px;float:left;margin-right:20px;margin-top:20px;}
.column-6.selected{background:rgb(90,89,89);color:#fff}
.column-6 .small-height{height:358px;}
.column-6 .card-stats{margin-top:20px}
.column-6 .info{position:absolute;bottom:38px;left:0px;width:100%;}
.welcome-buttons{text-align:center;color:#fff;padding-top:200px;padding-bottom:30px;}
.web-tip{padding:30px;}
.button .fa{padding-right:10px;}
.button a,.card-stats a{color:#8a8880}
.button.join-via-fb{height:70px;margin:0 20px 0 0;padding:0 50px 0 56px;-webkit-box-shadow:none;box-shadow:none;background-color:#3f5c94;color:#fff;line-height:68px;font-weight:600;font-size:1.5em;text-transform:none;border-radius:3px;}
.button.join-via-fb a{color:#f9f9f9}
.button.start-listening{height:70px;margin:0;padding:0 48px;background:#612525;-webkit-box-shadow:none;box-shadow:none;color:#fff;line-height:68px;font-weight:600;font-size:1.5em;text-transform:none;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;border-radius:3px;background-clip:padding-box;}
#audio_btn{position:absolute;right:40px;top:65px;z-index:60;width:30px;height:30px;background-repeat:no-repeat;}
/*转动的小图片*/
.off{background-image:url(../../images/play.svg);background-size:contain;background-repeat:no-repeat;}
.k_sliderbox{position:fixed;width:240px;height:100%;top:0;left:-240px;background:#25292b;z-index:101;display:none;padding-top:75px;}
.k_box{margin-top:48px;}
.push_button{width:16px;height:16px;padding:17px;background-color:#2e2e2e;border-radius:50%;cursor:pointer;position:fixed;top:72px;left:26px;z-index:102;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .5s;transition:transform .5s}
.push_button.active{-webkit-transform:translateX(240px);-ms-transform:translateX(240px);transform:translateX(240px);left:10px;}
.push_button li{width:100%;height:2px;background:#FFF;margin:0 auto;border-radius:2px}
.push_button:hover{background:rgb(181,190,132)}
.push_button .navi-one{margin-top:6px;-webkit-transform:translate(0,-200%);-ms-transform:translate(0,-200%);transform:translate(0,-200%);-webkit-transition:-webkit-transform .3s .3s;transition:transform .3s .3s}
.navi-one.active{transform:translateY(2px)rotate(45deg);-moz-transform:translateY(2px)rotate(45deg);-webkit-transform:translateY(2px)rotate(45deg);-ms-transform:translateY(2px)rotate(45deg)}
.navi-two{transition:opacity .2s .3s,width .2s .3s;-webkit-transition:opacity .2s .3s,width .2s .3s;-moz-transition:opacity .2s .3s,width .2s .3s;-ms-transition:opacity .2s .3s,width .2s .3s}
.navi-two.active{width:0;opacity:0}
.navi-three{transition:transform .3s .3s;-webkit-transition:-webkit-transform .3s .3s;-ms-transition:transform .3s .3s;-moz-transition:transform .3s .3s;transform:translate(0,200%);-moz-transform:translate(0,200%);-webkit-transform:translate(0,200%);-ms-transform:translate(0,200%)}
.navi-three.active{transform:translateY(-2px)rotate(-45deg);-moz-transform:translateY(-2px)rotate(-45deg);-webkit-transform:translateY(-2px)rotate(-45deg);-ms-transform:translateY(-2px)rotate(-45deg)}
/*头部明细*/
/*.wrap-box{min-height:430px;background:#333}
*/
.wrap-box .container{width:1020px;margin:0px auto;position:relative;}
.wrap-main .cl{width:153px;height:100%;}
.wrap-main .cl .c_play{width:136px;height:136px;display:block;-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#9B4343;background:rgba(82,49,49,0.67);border-radius:50%;border:2px solid #fff;box-sizing:border-box;text-align:center;margin-top:0px;position:absolute;left:50%;top:58%;}
.wrap-main .cl .c_play i{font-size:64px;line-height:136px;text-align:center;margin-left:8px;color:#FFF;}
.wrap-main .cc{margin:30px 0 0px 22px;}
.wrap-box{background:rgb(29,26,27)}
.wrap-box .cloudcast-data{margin:15px 0 16px;color:#fff;height:32px;}
.wrap-box .cloudcast-stats-tooltip{position:relative;float:left;display:block;margin:0 10px 0 0;}
.wrap-box .cloudcaster-name-by,.cloudcast-plays,.cloudcast-time,.cloudcast-date-uploaded,.cloudcast-favorites,.cloudcast-uploader,.cloudcast-reposts,.cloudcast-is-timestamped{color:#ffffff;opacity:0.7;}
.ccard-footer .icon{font-size:18px;height:39px;padding:2px 20px;color:#959595;background:#fff;border-radius:2px;}
.ccard-footer .fa{position:relative;left:-8px;}
.ccard-footer .icon label{font-size:12px;padding:0px 10px;display:inline-block;top:-3px;position:relative;border-left:1px solid #eaeaea}
.wrap-box .container .cloudcast-image{width:260px;height:260px;display:block;position:absolute;top:20px;right:0px;}
.register-bumper .bumper-button-and-tiles .join-via-fb{margin:0;float:right;border-bottom:none;}
.bumper-button-and-tiles{position:absolute;top:50%;right:0;-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.cwrapper{max-width:1020px;margin:2px auto;}
.cwrapper:after{content:"";clear:both;}
.main-content-column{width:660px;float:left;margin-right:20px;}
.wrap-right{width:320px;float:left;}
.cloudcast-item-tag-cloud{margin:0;padding:10px 10px 9px;border-top:none;border-bottom:1px solid #ececec;}
.item-tag-cloud{padding-top:8px;padding:10px 0;clear:both;border-top:1px solid #ececec;}
.cloudcast-description{padding:20px 10px;margin:0;font-weight:400;font-size:.875em;line-height:22px;border-bottom:1px solid #ececec;}
.cloudcast-footer{margin:0;padding:10px;}
.card-stats{font-size:.75em;font-weight:500;color:#7e7e7e;}
.post-comment{position:relative;padding:10px 20px 20px 88px;margin:10px 0 0;}
.user-avatar-60{width:48px;height:48px;display:block;float:left;color:transparent;border-radius:30px;background-clip:padding-box;}
.post-comment-avatar{display:block;border-radius:50%;background:#f2f2f2;position:absolute;top:10px;left:20px;z-index:1;transition:all 0.3s ease-in-out}
.post-comment-avatar:after{width:100%;height:100%;display:block;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid rgba(0,0,0,.08);position:absolute;top:0;left:0;content:"";background:rgba(9,9,9,0.38)}
.post-comment-avatar:hover{border:1px solid #333;transition:all 0.3s ease-in-out}
.post-comment-avatar span{position:absolute;top:12px;left:12px;font-size:12px;color:#fff;z-index:3}
.post-comment .general-textbox{z-index:auto;}
.general-textbox{width:100%;height:72px;padding:10px;margin-bottom:10px;-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.05);box-shadow:inset 1px 1px 1px rgba(0,0,0,.05);position:relative;z-index:1;border-radius:2px;background-clip:padding-box;}
.default-admin-form input[type=text],.input-style{outline:none;padding:10px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #d3d3d3;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.1);box-shadow:inset 0 1px 1px rgba(0,0,0,.1);color:#404040;text-align:left;font-weight:400;font-size:.875em;border-radius:2px;background-clip:padding-box;}
.button.extra-small-button{height:24px;line-height:24px;font-size:.688em;text-transform:uppercase;}
.button.blue-button{color:#fff;background-color:#589fc3;-webkit-box-shadow:inset 0 -1px 0 #408cb2;box-shadow:inset 0 -1px 0 #408cb2;}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
.button{height:25px;padding:0 10px;display:inline-block;outline:none;cursor:pointer;position:relative;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#404040;line-height:25px;font-weight:700;font-size:12px;text-decoration:none;background:#fff;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;border-radius:2px;background-clip:padding-box;}
.ng-hide.form-message.message-error.comments-message{margin:10px 20px 20px;}
.message-error{border:1px solid #f2c5c2;background:#fce6e3;color:#ba2513;}
.form-message{display:block;padding:10px;margin:0 0 10px;font-size:.875em;font-weight:400;line-height:20px;border-radius:2px;background-clip:padding-box;}
.comments{overflow:hidden;position:relative;}
.comment-item{width:100%;min-height:60px;position:relative;padding:10px 10px 10px 88px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.comment-container{padding:0;margin:0;position:relative;border-top:1px solid #ececec;}
.comment-item .comment-author{font-size:.875em;font-weight:700;float:left;margin:0 15px 0 0;max-width:250px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mx-link{color:#9F9999;outline:none;text-decoration:none;cursor:pointer;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.comment-item .comment-head{margin:0 0 3px;}
.comment-body{color:#333;font-size:13px;}
.card-stats span{padding-left:8px;}
.card-top-title{margin:0;padding:8px 10px 15px;border-bottom:1px solid #ececec;font-size:1.000em;font-weight:700;line-height:21px;color:#9F9999;}
.card-userlist-user{width:50px;height:50px;display:block;float:left;position:relative;margin:10px 15px 10px 10px;border-radius:50%;}
.card-userlist-user:after{width:100%;height:100%;display:block;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid rgba(0,0,0,.08);position:absolute;top:0;left:0;content:"";}
.user-avatar-50{width:50px;height:50px;display:block;float:left;color:transparent;border-radius:50%;background-clip:padding-box;transition:all 0.3s ease-in-out;}
.card-userlist-user:hover{border:2px solid #333;transition:all 0.3s ease;border-radius:50%;transform:scale(0.9);}
.card-userlist-user:hover img{transform:scale(0.9);transition:all 0.3s ease-in-out;}
.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.sub-header{width:100%;height:50px;padding:0;background:#EAEAEA;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.08);box-shadow:0 1px 1px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.08);text-align:center;line-height:50px;color:#333;position:relative;}
/*内容*/
.wz-cont{padding:20px 0;font-size:13px;color:#f9f9f9}
/*个人空间*/
.leader-avatar-image{width:140px;height:140px;display:block;position:absolute;-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,.15),0 1px 1px rgba(0,0,0,.08);box-shadow:inset 0 0 1px rgba(0,0,0,.15),0 1px 1px rgba(0,0,0,.08);border-radius:70px;background-clip:padding-box;}
.sub-header .nav-link-condensed.dropdown-toggle .toggle-arrow{right:14px}
.sub-header .nav-link-condensed.dropdown-toggle{padding-right:32px}
.sub-header.sub-header-static-page .sub-nav-link{padding:0 12px;font-size:14px}
.sub-header-play-button{width:30px;padding:0;overflow:hidden;text-indent:-9999px}
.sub-header-dropdown-toggle{padding-right:47px}
.sub-header-title-pill{padding:4px 6px;position:absolute;right:0;top:12px;font-size:12px;font-weight:700;color:#e2e2e2;background-color:#333;border-radius:2px;background-clip:padding-box}
.sub-header-navigation{width:1000px;margin:0 auto;font-size:0;text-align:center}
.sub-nav-list-item{max-width:170px;float:none;font-size:14px;display:inline-block;border-left:1px solid #cecece;-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.3);box-shadow:-1px 0 0 rgba(255,255,255,.3)}
.sub-nav-list-item:first-child{border-right:none;border-left:1px solid #cecece;-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.3);box-shadow:-1px 0 0 rgba(255,255,255,.3)}
.sub-nav-list-item:first-child .dropdown-nav-link{border:none;-webkit-box-shadow:none;box-shadow:none}
.sub-nav-list-item:last-child,.sub-nav-list-item.sub-nav-list-item-last{border-right:1px solid #cecece;-webkit-box-shadow:inset -1px 0 0 rgba(255,255,255,.3),-1px 0 0 rgba(255,255,255,.3);box-shadow:inset -1px 0 0 rgba(255,255,255,.3),-1px 0 0 rgba(255,255,255,.3)}
.sub-nav-list-item:last-child .sub-nav-link.selected,.sub-nav-list-item.sub-nav-list-item-last .sub-nav-link.selected,.sub-nav-list-item:last-child .sub-nav-link:hover,.sub-nav-list-item.sub-nav-list-item-last .sub-nav-link:hover,.sub-nav-list-item:last-child .sub-nav-link.active,.sub-nav-list-item.sub-nav-list-item-last .sub-nav-link.active{-webkit-box-shadow:inset -1px 0 0 transparent;box-shadow:inset -1px 0 0 transparent}
.sub-nav-list-item-mobile{border-right:1px solid #cecece;-webkit-box-shadow:inset -1px 0 0 rgba(255,255,255,.3),-1px 0 0 rgba(255,255,255,.3);box-shadow:inset -1px 0 0 rgba(255,255,255,.3),-1px 0 0 rgba(255,255,255,.3)}
.sub-nav-list-item-mobile.mobile-playlist-true{border-right:none}
.sub-nav-link{color:#404040;font-size:13px}
.sub-nav-link:hover,.sub-nav-link.active{color:#404040;background-color:#d5d5d5;-webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,.07);box-shadow:inset -1px 0 0 rgba(0,0,0,.07)}
.sub-nav-link.selected{color:#404040;background-color:#d5d5d5;-webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,.07);box-shadow:inset -1px 0 0 rgba(0,0,0,.07)}
.sub-nav-link.selected:after{z-index:1;background:#bcbcbc}
.sub-nav-link.no-hover:hover{cursor:default;background-color:#e2e2e2}
.sub-header .nav-link-condensed{height:50px;padding:0 32px;line-height:14px;text-align:center;}
.sub-header .nav-link-condensed .nav-title{display:block;margin:10px 0 3px;font-size:16px;font-weight:700;}
.sub-header .nav-link-condensed .nav-subtitle{display:block;font-size:11px;color:gray;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.column-5{float:left;margin-top:20px;}
.cwrapper .main-content-user{width:640px;margin-right:20px;}
.card-cloudcast-image2{width:223px;display:block;overflow:hidden;margin:-9px 0 0 -9px;position:relative;border-radius:4px 4px 0 0;float:left;background-clip:padding-box;}
.column-5 .card-cloudcast{min-height:265px;}
.description-text{padding:15px 10px 0;margin:0 0 -5px;color:#404040;line-height:22px;font-size:.875em;}
.user-follow-row{position:relative;padding:10px 0 10px 10px;}
.user-follow-row-avatar-link{float:left;margin:5px 0;display:block;position:relative;}
.user-follow-row-details,.row-details{min-height:60px;padding:0 100px 0 15px;overflow:hidden;position:relative;}
.user-follow-row-details h5,.row-details h5{font-size:.814em;font-weight:700;margin:0;}
.user-follow-row-details h5 a,.row-details h5 a,.user-follow-row-details h6 a,.row-details h6 a{color:#404040;}
.user-follow-row-details h6,.row-details h6{font-size:.75em;font-weight:500;}
.user-follow-row-details h5,.row-details h5,.user-follow-row-details h6,.row-details h6{height:20px;margin:0;padding:0;line-height:20px;color:#404040;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.user-follow-row-details h6:last-child,.row-details h6:last-child{opacity:.4;}
.user-follow-row .button{margin-top:-10px;position:absolute;right:0;top:50%;background-image:none!important;}
.user-follow-row .button{right:10px;}
.button.small-button{height:20px;padding:0 10px;line-height:20px;color:#fff;font-size:.625em;background:#589fc3;text-transform:uppercase;-webkit-box-shadow:inset 0 -1px 0 #408cb2;box-shadow:inset 0 -1px 0 #408cb2;}
.tzchapter{padding:6px 10px;border-bottom:1px solid #edf1f2;}
.tzchapter h3{height:32px;line-height:32px;padding-right:13px;font-size:16px;cursor:pointer;overflow:hidden;}
.tzchapter .video li{position:relative;height:30px;line-height:30px;padding-left:40px;margin:9px 0;font-size:14px;}
/*login登陆框*/
.sousk{margin:200px auto 50px;width:600px;position:relative;}
.sousk input{width:580px;height:40px;line-height:40px;border:1px solid #fff;color:#fff;padding-left:20px;border-radius:5px;background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000',endColorstr='#33000000');}
.btn-sou{width:40px;height:38px;background:#e2e2e2;display:block;line-height:38px;font-size:18px;position:absolute;top:2px;right:0px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.btn-sou:hover{background:#fff;}
.login{width:340px;height:460px;margin:10% auto;border-radius:5px;}
.zhuce{color:#999;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');text-align:center;}
.zhuce:hover{color:#fff;}
.dengl-cont{height:200px;padding:40px 50px;}
.dl-cont a{color:#fff}
.zhmmk input{width:228px;height:40px;line-height:40px;padding-left:15px;color:#999}
.zhmmk input:focus{box-shadow:inset 0 0 0.1em #e5e5e5}
.dl-ts{width:80px;height:40px;line-height:40px;color:#262626;text-align:right;font-size:16px;display:inline-block;float:left;}
.zcmmk input{margin-bottom:10px;}
.login-xxts{height:30px;padding-left:10px;line-height:20px;color:#C59E9E;font-size:12px;}
.btn-login{width:245px;height:40px;line-height:40px;background:#484343;display:block;font-size:16px;color:#fff;border-radius:5px;text-align:center;transition:all 0.3s ease;}
.btn-login:hover{background:#6B5A5A;transition:all 0.3s ease;}
/*错误提示*/
#particles-js{position:absolute;z-index:-1px;top:0;left:0px;}
.error_tips{height:65px;background:rgba(57,75,110,0.86);text-align:center;font-size:12px;line-height:65px;color:#fff;position:fixed;top:0px;left:0px;width:100%;z-index:1}
.error_tips .iconfont{color:#fff;padding-right:10px;}
.fmt{margin-top:-1px;}
.c_logo{padding:27px 57px;}
/*返回顶部*/
.back_top{display:none;width:45px;height:50px;line-height:50px;position:fixed;bottom:8px;right:10px;background:#25292B;border-radius:2px;transition:all 0.3s linear;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;text-align:center;z-index:90}
.back_top:hover{background:#3a4146;}
.back_top a{display:block;width:45px;height:50px;}
.back_top i{display:inline-block;width:26px;height:16px;background:url(../../images/back_up.png) no-repeat;}
/*翻牌效果*/
.stage{-webkit-perspective:1000;}
.stage .card{-webkit-transform-style:preserve-3d;transition:0.3s;position:relative;background:linear-gradient(#111,#444);box-sizing:border-box;box-shadow:0 0 1em #ccc;color:#111}
.stage .front{z-index:2;}
.stage .back{transform:rotateY(180deg);color:#fff;}
.stage .itemsbox{position:absolute;-webkit-perspective:700;backface-visibility:hidden;height:100%;top:0;left:0}
.stage:hover .card{transform:rotateY(180deg);}
.stage .button:hover{transform:scale(1)}
/*编辑器*/
#container{position:fixed;top:0px;left:0px;width:100%;height:100%;}
.breadcrumb{overflow:hidden;border-bottom:2px solid #56BC8A;counter-reset:flag;position:relative;}
.breadcrumb a{text-decoration:none;outline:none;display:block;font-size:12px;line-height:36px;color:#fff;padding:0 10px 0 56px;background:#36465D;position:relative;background:linear-gradient(#36465D,#212B38);float:left;}
.breadcrumb a:after{content:"";width:36px;height:36px;position:absolute;top:0;right:-18px;z-index:1;background:#36465D;background:linear-gradient(135deg,#36465D,#212B38);box-shadow:2px -2px 0 2px rgba(0,0,0,0.4),3px -3px 0 2px rgba(255,255,255,0.1);border-radius:0 5px 0 50px;transform:scale(0.7) rotate(45deg)}
.breadcrumb a:before{content:counter(flag);counter-increment:flag;border-radius:100%;width:20px;height:20px;line-height:20px;margin:8px 0;position:absolute;top:0;left:30px;background:#444;background:linear-gradient(#444,#222);font-weight:bold;text-align:center;}
.breadcrumb a.active,.breadcrumb a:hover{background:#56BC8A;background:linear-gradient(#56BC8A,#000);}
.breadcrumb a.active:after,.breadcrumb a:hover:after{background:#56BC8A;background:linear-gradient(135deg,#56BC8A,#000);}
#container .c_right{width:36%;height:100%;background:#36465D;float:left}
#container .c_left{width:64%;height:100%;background:#56BC8A;float:right;text-align:center;position:relative;z-index:8}
#preview{width:100%;height:100%;position:absolute;top:0;left:0;border-radius:0 5px 5px 0;z-index:1;}
/*侧边滚动条*/
#barbox{width:84px;height:100%;position:fixed;top:56px;right:0px;display:none;}
#bar{position:absolute;top:0;left:0;width:100%;height:100px;background:rgba(137,41,43,0.98);z-index:2;}
#cbar{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(37,41,43,1);z-index:1;}
.padd{top:140px;}
.padd .navi-addf{position:absolute;top:25px;width:17px;}
.padd .navi-addo{position:absolute;top:18px;width:2px;height:17px;left:25px;}
/*底部*/
 #footer{width:100%;background:rgb(16,12,12);border-top:1px solid #222;margin-top:20px;}
.footbot{width:100%;height:70px;line-height:70px;border-top:1px solid #333;text-align:center;font-size:12px;color:#8b8c8f;overflow:hidden;}
.footcontent{width:1200px;margin:0 auto;padding-top:60px;padding-bottom:60px;height:74px;}
.footcontent li{padding-left:36px;padding-right:36px;height:74px;border-right:1px solid #e1e1e1;color:#8b8c8f;float:left;}
.tengx_class span{color:#8b8c8f;}
.footcontent li:hover,.footcon_con a:hover,.footcontent li:hover a span{color:#3e4146;}
.footcontent li:last-child{border-right:none;}
.footcontent li span{display:block;padding-left:34px;line-height:74px;float:left;}
.footcontent li p{padding-left:60px;line-height:24px;}
.footcontent i{display:block;width:34px;height:34px;margin-top:20px;float:left;}
.footcon_icon1{background-position:0px -123px;margin-left:20px;}
.footcon_icon2{background-position:-37px -123px;}
.footcon_icon3{background-position:-74px -123px;}
.footcon_icon4{background-position:-111px -123px;}
.footcontent li:hover .footcon_icon1{background-position:0px -159px;}
.footcontent li:hover .footcon_icon2{background-position:-37px -159px;}
.footcontent li:hover .footcon_icon3{background-position:-74px -159px;}
.footcontent li:hover .footcon_icon4{background-position:-111px -159px;}
.footcon_con{width:270px;float:left;padding-top:24px;}
.footcon_con a{display:block;float:left;width:60px;line-height:24px;padding-left:30px;color:#8b8c8f;}
/*快速评论框*/
.piebox{width:300px;min-height:125px;background:#222;border-radius:4px;position: fixed;top: 200px;right:100px;z-index: 50;display: none;box-shadow:0 0 10px #666;padding:2px;}
.piebox img{position:relative;top: 2px;display: block;}
.piebox .prograss{position:absolute;top:0;left:0;width:0%;background: #F14646;height:100%;z-index: -1}
.piebox .h{height:36px;border-bottom:1px solid #999;line-height:36px;cursor:move;}
.piebox .h li{float:left;padding:0 10px;border-right:1px solid #666;height: 36px;}
.piebox .h li a{display:block;color:#fff}
.piebox .fa{color:#fff;}
.piebox .fa:hover{color:pink}
.piebox .msgbox textarea{width:284px;height:72px;margin:1px;padding:6px;}